@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body{
    background: #000;
    font-family: 'Laila', serif;
}
header{
    min-height: 90vh;
}

#hb{
    color: #feddb2;
    font-family: 'Londrina Sketch', cursive;
    text-shadow: 0 0 4px#feddb2,
      0 0 8px #feddb2,
      0 0 12px #feddb2,
      0 0 16px #feddb2;
}

.navbar-dark .navbar-nav .nav-link{
    color: #feddb2;
    letter-spacing: 2px;
    transition: all .3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover{
    letter-spacing: 3px;
    color: #ffffff;
}
/* preloader start */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:#62a388;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}
    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #4effb5;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #62a388;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #272727;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
      
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

/* preloader end */


.btn-brand-main{
    background: transparent;
    color: white;
    border: 1px solid #62e9b0;
    transition: .6s;
}
.btn-brand-main:hover{
    background: #62e9b0;
    color: black;
}

.col-sm-6:nth-child(1){
    border-right: 1px solid #62e9b0;
}
.col-sm-6:nth-child(3){
    border-right: 1px solid #62e9b0;
}

#projects{
    background: url(./images/ProjectBG.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.project-container {
    color: white;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
} 
.project-card{
    width: 300px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 0.5px solid #62e9b0;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}
.project-card img {
    border-radius: 10px;
}
.project-card::after {
    content: "";
    clear: both;
    display: table;
  }
  form {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      padding: 0px 20px ;
  }
  label{
    color: #ffffff;
  }
   .form-control {
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #62e9b0;
  }
  .form-control:focus{
      background: rgba(0, 0, 0, 0.6);
      border: none;
  }
  .btn-dark , .btn-dark:hover, .btn-dark:focus{
      color: #feddb2;
      background-color: transparent;
      border-color: transparent;
  }
footer {
    text-align: center;
    color: #62e9b0;
    letter-spacing: 5px;
    margin-top: 20px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(0,0,0); */
    background-color:rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: wheat;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 60px;
  }
  #biopic {
      height: 90vh;
  }
  #name{
    color: #feddb2;
    font-family: 'Londrina Sketch', cursive; 
    font-size: 5rem;
  }
  .icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid #62e9b0;
    border-radius: 25px
}
@media (max-width: 767px) {
    .icon-scroll {
        display:none;
    }
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

  @media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
  }
  @media screen and (max-width: 767px) {

    span.ah-words-wrapper {
        width: auto !important;
    }
}

  @media screen and (max-width: 450px) {

    #biopic {
        /* width: 100%; */
        height: 50vh;
    }
    #name{
        color: #feddb2;
        font-family: 'Londrina Sketch', cursive; 
        font-size: 4rem;
      }
      #anim {
        font-size: 22px;
      }
      span.ah-words-wrapper {
        width: 100% !important;
    }
}

